@import '../css/reset.css';
@font-face {
  font-family: "Yandex Sans Display";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/YandexSansDisplay-Regular.woff2") format("woff2");
  src: url("../../fonts/YandexSansDisplay-Regular.woff") format("woff");
  src: url("../../fonts/YandexSansDisplay-Regular.woff") format("ttf");
}
html, body {
  font-family: "Yandex Sans Display", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #fbfbfb;
  color: #000000;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 6.25rem;
}

.main {
  width: 100%;
  background-color: #000000;
}
.main .main__wrapper {
  max-width: 84rem;
  margin: 0 auto;
  padding: 12rem 4rem;
}
.main .main__wrapper .main__wrapper-title-1 {
  font-size: 8rem;
  line-height: 1;
  color: #0079FD;
}
.main .main__wrapper .main__wrapper-title-2 {
  text-align: right;
  font-size: 8rem;
  font-style: italic;
  line-height: 1;
  color: #ffffff;
  margin-top: 2.5rem;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 5rem;
}
.name .name__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.name .name__wrapper .name__wrapper-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 2.8rem;
  height: 2.8rem;
}
.name .name__wrapper .name__wrapper-text {
  font-size: 3rem;
  line-height: 1;
  margin-left: 2rem;
}

.benefits {
  width: 100%;
  margin-top: 6rem;
}
.benefits .benefits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.benefits .benefits__wrapper .benefits__wrapper-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits .benefits__wrapper .benefits__wrapper-box .benefits__wrapper-box-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 28rem;
  height: 28rem;
}
.benefits .benefits__wrapper .benefits__wrapper-box .benefits__wrapper-box-text {
  text-align: center;
  font-size: 2.5rem;
  max-width: 22rem;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
}
.benefits .benefits__wrapper .benefits__wrapper-box .benefits__wrapper-box-text .benefits__wrapper-box-text_style {
  font-style: italic;
}

.call {
  font-size: 2.5rem;
  text-align: center;
  max-width: 68rem;
  margin: 0 auto;
  margin-top: 6rem;
  padding: 0 3rem;
}

.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
  position: relative;
}
.circle .circle__img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
  width: 18rem;
  height: 18rem;
  -webkit-animation: motion normal infinite 20s linear;
          animation: motion normal infinite 20s linear;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
@-webkit-keyframes motion {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes motion {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.circle .circle__click {
  font-size: 2rem;
  color: #0079FD;
  -webkit-transition: ease 0.1s;
  transition: ease 0.1s;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.circle .circle__click:hover {
  color: #000000;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 14rem;
  background-color: #000000;
  margin-top: 5rem;
}
.footer .footer__icon-link .footer__icon {
  width: 3rem;
}

@media (max-width: 1600px) {
  html, body {
    font-size: 15px;
  }
}
@media (max-width: 1500px) {
  html, body {
    font-size: 14px;
  }
}
@media (max-width: 1300px) {
  html, body {
    font-size: 13px;
  }
}
@media (max-width: 1200px) {
  html, body {
    font-size: 12px;
  }
}
@media (max-width: 1100px) {
  html, body {
    font-size: 11px;
  }
}
@media (max-width: 1000px) {
  html, body {
    font-size: 10px;
  }
}
@media (max-width: 900px) {
  html, body {
    font-size: 15px;
  }
  .main .main__wrapper {
    max-width: 57rem;
  }
  .benefits .benefits__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefits .benefits__wrapper .benefits__wrapper-box .benefits__wrapper-box-img {
    width: 50rem;
    height: 50rem;
  }
  .benefits .benefits__wrapper .benefits__wrapper-box .benefits__wrapper-box-text {
    font-size: 3.5rem;
    max-width: 35rem;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  .call {
    font-size: 3.5rem;
    max-width: 55rem;
  }
  .circle .circle__img {
    width: 30rem;
    height: 30rem;
  }
  .circle .circle__click {
    font-size: 3.4rem;
  }
}
@media (max-width: 850px) {
  html, body {
    font-size: 13px;
  }
}
@media (max-width: 760px) {
  html, body {
    font-size: 11px;
  }
}
@media (max-width: 650px) {
  html, body {
    font-size: 9px;
  }
}
@media (max-width: 530px) {
  html, body {
    font-size: 8px;
  }
}
@media (max-width: 470px) {
  html, body {
    font-size: 7px;
  }
}
@media (max-width: 400px) {
  html, body {
    font-size: 6px;
  }
}
@media (max-width: 300px) {
  html, body {
    font-size: 5px;
  }
}