@media (max-width: 1600px) {
  html, body {
    font-size: 15px;
  }
}
@media (max-width: 1500px) {
  html, body {
    font-size: 14px;
  }
}
@media (max-width: 1300px) {
  html, body {
    font-size: 13px;
  }
}
@media (max-width: 1200px) {
  html, body {
    font-size: 12px;
  }
}